<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lzr.dao.LoginAuthDao">
    <select id="login" resultType="RbacManager">
        select  id,account,password,status from rbac_manager where account=#{account} and password=#{password}
    </select>
    <select id="getByName" resultType="RbacManager">
        select id,account,password,status from rbac_manager where account=#{username}
    </select>
    <select id="getRoles" resultType="java.lang.String">
        select b.`name` from rbac_manager a,rbac_role b
        where
        a.account = 'aaa'
        and
        a.role_id = b.id
    </select>
    <select id="getPermsByName" resultType="java.lang.String">
        select c.* from rbac_manager a,rbac_role_perm b,rbac_perm c
        where
        a.account = #{account}
        and
        a.role_id = b.role_id
        and
        b.perm_id = c.id;
    </select>
</mapper>
